.hover path {
    stroke: #ccc;
}

.hover text {
    fill: #ccc;
}

.hover g.primary text {
    fill: black;
    font-weight: bold;
}

.hover g.secondary text {
    fill: #333;
}

.hover path.primary {
    stroke: #333;
    stroke-opacity: 1;
}
